<center>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You chose <%= @shape %>!</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <div id="computer">
  <font size="30">Computer chose <%= @computer_shape %>!</font></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You lose!</font>
  </center>
  <br/>
  <br/>
  <br/>
  <form action = '/game'>
  <center>
  <button type="submit" style="height: 100px; width: 100px" id="play again">Play again!</button>
  </center>
  </form>
  </body>
